body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.home_wrapper {
  width: 90%;
  margin: 1rem auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
}

a:visited {
  color: #0000ee;
}
